/* Techrollmancer */

@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --accent-color: rgba(45,99,127,1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Text */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee';
}

h1 {
  font-size: 3.5rem;
  color: #000;
  margin-bottom: 1em;
}

h1.roll {
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.5rem;
  color: var(--accent-color);
  line-height: 1em;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 1em;
}

h4 {
  font-size: 2rem;
  color: var(--accent-color);
  margin-bottom: 1em;
}

h5 {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 0.2em;
}

h6, p {
  font-size: 1.3rem;
}

h6,
p.card-text {
  margin-bottom: 0.2em;
}

p {
  line-height: 1.3em;
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
  font-size: 1.25rem;
}

em {
  font-style: italic;
}

h3.title {
  color: #fff;
  margin-bottom: 0.5em;
}

.stat-header {
  font-size: 3rem;
  margin: 0.25vh 0.25vw;
  text-align: center;
  background: var(--accent-color);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  padding: 0.5em;
  box-shadow: 5px 0 5px -2px #888;
}

.main-stats {
  color: #fff;
  font-size: 3rem;
  margin: 0.25vh 0.25vw;
}

h6.header {
  text-align: center;
  margin-top: 1.75vh;
}

p.ability,
h6.ability {
  font-size: 3vw;
}

h2.ability {
  font-size: 4vw;
}

p.profile,
h6.profile {
  text-align: center;
}

h6.profile {
  margin-bottom: 1.5vh;
}

p.profile {
  margin: 0;
}

.stat-num {
  margin: 0.75vh 0.5vw;
}

.stat-mod {
  margin: 0.25vh 0.25vw;
  color: #fff;
}

th.table-header {
  font-size: 1em;
}

.stat-container p {
  margin-bottom: .2em;
}

span.stat,
span.roll,
span.header {
  display: inline-block;
  margin-left: 0.75vw;
  margin-right: 0.25vw;
}

.roll h4 {
  margin: 0;
}

.roll h5 {
  margin: 1vh 1vw;
}

.min {
  color: grey;
}

.fa-spin-roll {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.dice-roll-container {
  position: relative;
}

.dice-roll,
.nat20,
.nat1 {
  position: absolute;
  font-size: 1.65rem;
  top: 43.5%;
  left: 47%;
}

.dice-roll {
  color: #fff;
}

.nat20 {
  color: green;
}

.nat1 {
  color: #f50057;
}

.card-text,
label.photo {
  color: #fff;
  text-shadow: -1px -1px 0px #000,
                0px -1px 0px #000,
                1px -1px 0px #000,
                -1px  0px 0px #000,
                1px  0px 0px #000,
                -1px  1px 0px #000,
                0px  1px 0px #000,
                1px  1px 0px #000;
}

.game {
  margin-top: 1.5em;
}

.game .name,
.game .button {
  display: inline-block;
}

/* Buttons */
button.button {
  padding: 0.5em 1.5em;
  margin: 0.5em 1em 1.5em 1em;
}

.MuiButton-label {
  font-size: 1.3rem;
}

.notes {
  margin-bottom: 0;
}

/* Input */
input.stats {
  background-color: var(--accent-color);
  color: #fff;
  font-family: 'Bungee';
  font-size: 3rem;
  border: none;
  border-bottom: 1px dotted #fff;
  width: 4em;
  text-align: center;
  margin: 0;
  padding: 0;
}

input.profile {
  font-family: 'Bungee';
  font-size: 1.3rem;
  border: none;
  border-bottom: 1px dotted #000;
  margin: 0 auto; 
  padding: 0.5vh;
  width: 80%;
  text-align: center;
  display: block;
}

input.profile.flex {
  width: 40%;
}

input.photo,
input.traits,
textarea.traits {
  font-size: 1.3rem;
  border: none;
  width: 95%;
  border-bottom: 1px dotted #000;
}

label.photo {
  font-size: 1.3rem;
  font-family: bungee;
}

label.traits {
  padding: 0;
  font-size: 1.3rem;
  text-align: center;
  display: block;
}

.photo-edit {
  position: absolute;
  bottom: -5%;
  margin: auto 2vw;
}

/* Border */

.trait,
.stat.border {
  border: 2px solid #000;
  border-radius: 5px 20px 5px;
  padding: 0.5em;
  margin: 0.25vh 0.25vw;
  min-height: 20vh;
}

.trait.large {
  min-height: 65vh;
}

div.stat.border.ability {
  min-height: 42vh;
  width: 100%;
  margin-top: 2em;
  padding: 1.25em;
}

/* Logo */
.fa-spin-hover {
  border-radius: 50%;
  transition: transform 1s ease-in-out;
  margin: 0.5em 0.1em;
}

.fa-spin-hover:hover {
  transform: rotate(360deg);
}

.d20 {
  padding: 0.1em;
}

/* Menu Icons */
.menu-icon > .MuiSvgIcon-root {
  color: #fff;
}

.MuiListItemIcon-root.menu-icon {
  min-width: 2em;
}

div.MuiList-root > .MuiListItem-root.MuiButtonBase-root {
  padding: 0px 1em;
}

nav > .MuiButtonBase-root.MuiListItem-root {
  padding: 0 1em;
  font-size: 1em;
}

a.link,
.list-item > a {
  text-decoration: none;
  color: black;  
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

nav.MuiList-root {
  max-width: 360px;
}

.list-item {
  margin-left: 1em;
}

p.category {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

div.MuiTabs-root.tabs {
  max-width: 100vw;
}

.character-sheet {
  border-radius: 5px;
  padding: 1em;
}

.stats,
.spells,
.traits,
.traits-container,
.features,
.inventory,
.journal {
  padding: 1em;
  margin: 0.5em;
}

.traits-container {
  min-height: 75vh;
}

.basic.stats {
  max-width: 220px;
}

.spells {
  width: 80vw;
  margin: 1em auto;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip-roll,
.tooltip-edit {
  position: relative;
}

/* Tooltip text */

.tooltip .tooltiptext,
.tooltip-roll .tooltiptext,
.tooltip-edit .tooltiptext {
  visibility: hidden;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  padding: 5px 0;
  border-radius: 5px;
  top: 100%;
  left: 50%;
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext {
  width: 25vw;
  padding: 0.25em 1em;
  overflow: scroll;
}

.tooltip-roll .tooltiptext,
.tooltip-edit .tooltiptext {
  width: 6.5rem;
  height: 3.25vh;
  padding: 0.25rem 1rem;
}

.tooltip-roll .tooltiptext p,
.tooltip-edit .tooltiptext p {
  font-size: 0.75rem;
}

/* Show tooltip text on mouseover */
.tooltip:hover .tooltiptext,
.tooltip-roll:hover .tooltiptext,
.tooltip-edit:hover .tooltiptext {
  visibility: visible;
}

.datetime {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.datetime {
  width: 85%;
  margin: 1.5em 3.5em 0.5em 3.25em;
}

.race-option div {
  width: 10em;
}

div.race-option {
  margin-bottom: 2em;
}

@media print {
  @page {
    margin: -0.3cm 0.25cm 0 -2.25cm;
  }

  .character-sheet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  header, 
  .MuiTabs-root.tabs,
  button {
    display: none !important;
  }

  h1 {
    font-size: 32pt;
    margin-bottom: 0.3em;
    margin-left: 0.5em;
  }

  h2.main-stats {
    font-size: 16pt;
    color: #000;
  }

  h6, p {
    font-size: 9pt;
    color: #000 !important;
  }

  div.stat-header {
    height: 1.25em;
    padding: 0.3em;
    margin: 0;
    background-color: #fff !important;
    box-shadow: none !important;
    border: 2px solid black;
  }

  h6.header {
    margin: 0.25em;
  }

  h6.stat-mod {
    margin: 0;
  }

  .stat-container {
    height: 1.5em;
  }

  div.stats {
    width: 15em;
    height: 18em;
  }

  span.stat {
    margin: auto 0;
  }

  .stat.border.ability {
    padding: 0 auto !important;
    margin: 0.25em !important;
    border: none;
  }
}

@media (min-width: 768px) {
  .character-sheet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  nav.MuiList-root.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2em;
  }

  nav.MuiList-root.list > div {
    width: 40vw;
  }

  p.ability,
  h6.ability {
    font-size: 2vw;
  }

}

@media (min-width: 960px) {
  div.character-background {
      margin-left: 20.25em;
      max-width: 100vw;
  }
}
