@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
}

#root {
    width: 100%;
}

main.Main {
    margin: 3em 1.5em;
}

h1, h2, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6, p, span, strong {
    font-size: 1em;
}

a.link,
.list-item > a {
    text-decoration: none;
    color: black;  
}

.hidden {
    display: none;
}

@media (min-width: 768px) {
    #root {
        margin: 0;
    }

    main.Main {
        margin-left: 25em;
        width: 50%;
    }
}

@media (min-width: 1200px) {
    main.Main {
        width: 65%;
    }
}
