@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

a.link,
.list-item > a {
    text-decoration: none;
    color: black;  
}

.hidden {
    display: none;
}

@media (min-width: 768px) {
    #root {
        margin: 0;
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: row;
    }
}
