@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

a.link,
.list-item > a {
    text-decoration: none;
    color: black;  
}

.hidden {
    display: none;
}

div.list-container {
    max-width: 360px;
}

.list-item {
    margin-left: 1em;
}

span.category {
    font-size: 1.25em;
}

hr {
    margin: 3em 16px;
}

@media (min-width: 600px) {
    #grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    #root {
        margin: 0;
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1100px) {
    #grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
