h1.error {
    color: maroon;
}

div.MuiFormControl-root {
    padding: 0.5em; 
    margin: 1em 2em;
    width: 85%;
}

a.signup-link,
a.signin-link {
    text-decoration: none;
    color: rgba(45,99,127,1);
    font-weight: bold;
}
