.add-button.MuiButtonBase-root {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 5em;
    height: 5em;
}

.add-link {
    color: #ffffff;
}

div.MuiTableContainer-root {
    margin: 2em;
    width: 90%;
}

@media (min-width: 550px) {
    #grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    #grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
