.index-background {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
        url('../../assets/d20.png');
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}

div.MuiPaper-root.MuiCard-root.card {
    min-width: 220px;
    width: 10em;
    height: 20em;
    margin: 0.5em;
    box-shadow: 5px 0 5px -2px #888;
    position: relative;
    background-color: rgba(45,99,127,1);
    background-repeat: no-repeat;
}

.content {
    position: absolute;
    bottom: 0;
    right: 0;
}

.name {
    font-weight: bold;
    font-size: 2em;
    color: white;
    margin: 0;
}

.add-button.MuiButtonBase-root {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 5em;
    height: 5em;
}

.add-link {
    color: #ffffff;
}

div.MuiTableContainer-root {
    margin: 2em;
    width: 90%;
}

/* Races */
.Dragonborn {
    background-image: url('../../assets/dragonborn.png');
    background-size: cover;
}

.Dwarf {
    background-image: url('../../assets/dwarf.png');
    background-size: 100%;
    background-position: 50%;
}

.Elf {
    background-image: url('../../assets/elf.png');
    background-size: cover;
}

.Gnome {
    background-image: url('../../assets/gnome.png');
    background-size: 125%;
    background-position: 50%;
}

.Half-Elf {
    background-image: url('../../assets/half-elf.png');
    background-size: cover;
}

.Half-Orc {
    background-image: url('../../assets/half-orc.png');
    background-size: cover;
}

.Halfling {
    background-image: url('../../assets/halfling.png');
    background-size: 130%;
    background-position: 30%;
}

.Human {
    background-image: url('../../assets/human.png');
    background-size: 85%;
}

.Tiefling {
    background-image: url('../../assets/tiefling.png');
    background-size: 115%;
    background-position: 50%;
}

/* Classes */
.Barbarian {
    background-image: url('../../assets/barbarian.png');
    background-size: 75%;
    background-position: 50%;
}

.Bard {
    background-image: url('../../assets/bard.png');
    background-size: 75%;
    background-position: 50%;
}

.Cleric {
    background-image: url('../../assets/cleric.png');
    background-size: 107%;
    background-position: 50%;
}

.Druid {
    background-image: url('../../assets/druid.png');
    background-size: 90%;
}

.Fighter {
    background-image: url('../../assets/fighter.png');
    background-size: cover;
}

.Monk {
    background-image: url('../../assets/monk.png');
    background-size: cover;
}

.Paladin {
    background-image: url('../../assets/paladin.png');
    background-size: cover;
}

.Ranger {
    background-image: url('../../assets/ranger.png');
    background-size: cover;
}

.Rogue {
    background-image: url('../../assets/rogue.png');
    background-size: cover;
}

.Sorcerer {
    background-image: url('../../assets/sorcerer.png');
    background-size: cover;
}

.Warlock {
    background-image: url('../../assets/warlock.png');
    background-size: cover;
}

.Wizard {
    background-image: url('../../assets/wizard.png');
    background-size: cover;
}

@media (min-width: 550px) {
    #grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    #grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
