@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Advent+Pro&display=swap');

.fa-spin-hover {
    border-radius: 50%;
    transition: transform 1s ease-in-out;
    margin: 0.5em 0.1em;
    color: #ffffff;
}

.fa-spin-hover:hover {
    transform: rotate(360deg);
}

#NavBar {
    color: rgba(45,99,127,1);
    margin-right: 2em; 
    min-height: 100vh;
    position: sticky;
    top: 0;
}

a.MuiButtonBase-root.logo {
    font-family: 'Bungee Inline', cursive;
    color: #ffffff;
    font-size: 1.75em;
    margin-left: 0.75em;
}

.MuiSvgIcon-root {
    color: #ffffff;
}