@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Advent+Pro&display=swap');

header {
    overflow-y: hidden;
}

nav.MuiList-root.NavBar {
    color: #ffffff;
    position: fixed;
    max-width: 360px;
    box-shadow: 5px 0 5px -2px #888;
    min-height: 100vh;
    border-right: 1px solid rgba(189, 195, 199, 0.5);
    background-color: rgba(45,99,127,1);
}

div.nested.MuiListItemText-root {
    padding-left: 5em;
}

div.double-nested.MuiListItemText-root {
    padding-left: 6em;
}

.fa-spin-hover {
    border-radius: 50%;
    transition: transform 1s ease-in-out;
    margin: 0.5em 0.1em;
    color: #ffffff;
}

.fa-spin-hover:hover {
    transform: rotate(360deg);
}

a.MuiButtonBase-root.logo, a.MuiButtonBase-root.logo-mobile {
    font-family: 'Bungee Inline', cursive;
    color: #ffffff;
    font-size: 1.75em;
}

div.MuiListItemText-root {
    margin: 0;
}

.NavBar#mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MuiButton-label {
    color: #ffffff;
    font-size: 1.5em;
    margin-right: 2em;
}

.MuiSvgIcon-root {
    color: #ffffff;
}

#mobile {
    display: block;
}

#non-mobile {
    display: none;
}

@media (min-width: 768px) {
    #mobile {
        display: none;
    }

    #non-mobile {
        display: block;
    }

    .NavBar#mobile {
        display: none;
    }

}