@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Advent+Pro&display=swap');

nav.MuiList-root.NavBar {
    color: #ffffff;
    position: fixed;
    max-width: 360px;
    box-shadow: 5px 0 5px -2px #888888;
    border-right: 1px solid rgba(189, 195, 199, 0.5);
    min-height: 100vh;
    background-color: rgba(45,99,127,1);
}

div.nested.MuiListItemText-root {
    padding-left: 5em;
}

div.double-nested.MuiListItemText-root {
    padding-left: 6em;
}

.fa-spin-hover {
    border-radius: 50%;
    transition: transform 1s ease-in-out;
    margin: 0.5em 0.1em;
    color: #ffffff;
}

.fa-spin-hover:hover {
    transform: rotate(360deg);
}

a.MuiButtonBase-root.logo-static, 
a.MuiButtonBase-root.logo-collapsible {
    font-family: 'Bungee Inline', cursive;
    color: #ffffff;
    font-size: 1.75em;
}

div.MuiListItemText-root {
    margin: 0;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 3.5em;
    margin: auto;
    flex-basis: auto;
}

a.MuiButtonBase-root.logo-collapsible,
button.MuiButtonBase-root.MuiButton-root.MENU,
a.USERNAME {
    transform: rotate(-90deg);
    color: #ffffff;
    font-size: 1.5em;
    margin-left: 0;
    text-decoration: none;
}

button.MuiButtonBase-root.MuiButton-root.MENU {
    margin-top: 1em;
    
}

a.USERNAME {
    margin-bottom: 3em;
}

a.logo-collapsible {
    justify-content: center;
    margin: auto 0;
}

.MuiSvgIcon-root {
    color: #ffffff;
}

.NavBar-container {
    display: flex;
    flex-direction: row;
}

.NavBar#collapsible {
    /* display: block; */
    background-color: rgba(45,99,127,1);
    box-shadow:  5px 0 5px -2px #888888;
    /* border-bottom: 1px solid rgba(189, 195, 199, 0.5); */
    position: fixed;
    overflow: hidden;
    height: 100%;
}

/* .NavBar#static {
    display: none;
} */

/* @media (min-width: 1024px) {
    .NavBar#collapsible {
        display: none;
    }

    .NavBar#static {
        display: block;
    }

} */