.show-background {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
        url('../../assets/d20.png');
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}

div.list-container {
    max-width: 360px;
}

.list-item {
    margin-left: 1em;
}

span.category {
    font-size: 1.25em;
}

hr {
    margin: 3em 16px;
}

/* Races */

.dwarf-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/dwarf.png');
    background-size: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.elf-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/elf.png');
    background-size: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.gnome-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/gnome.png');
    background-size: 85vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.half-elf-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/half-elf.png');
    background-size: 60vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.half-orc-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/half-orc.png');
    background-size: 90vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.halfling-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/halfling.png');
    background-size: 80vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.dragonborn-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/dragonborn.png');
    background-size: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.human-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/human.png');
    background-size: 60vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.tiefling-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/tiefling.png');
    background-size: 80vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

/* Classes */
.barbarian-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/barbarian.png');
    background-size: 50vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.bard-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/bard.png');
    background-size: 50vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.cleric-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/cleric.png');
    background-size: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.druid-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/druid.png');
    background-size: 60vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.fighter-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/fighter.png');
    background-size: 80vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.monk-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/monk.png');
    background-size: 60vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.paladin-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/paladin.png');
    background-size: 75vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.ranger-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/ranger.png');
    background-position: right center;
    background-size: 90vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.rogue-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/rogue.png');
    background-size: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.sorcerer-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/sorcerer.png');
    background-size: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.warlock-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/warlock.png');
    background-size: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.wizard-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/wizard.png');
    background-size: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}
