div.list-container {
    max-width: 360px;
}

.list-item {
    margin-left: 1em;
}

span.category {
    font-size: 1.25em;
}

.Show-Container {
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-attachment: fixed;
    overflow: auto;
}

hr {
    margin: 3em 16px;
}

/* Races */

.half-elf-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/half-elf.png');
    background-size: 70vh;
}

.half-orc-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/half-orc.png');
    background-size: 90vh;
}

.halfling-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/halfling.png');
    background-size: 70vh;
    background-position: bottom left;
}

.human-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/human.png');
    background-size: 90vh;
}

.tiefling-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/tiefling.png');
    background-size: 80vh;
}

/* Classes */
.barbarian-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/barbarian.png');
    background-size: 60vh;
}

.bard-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/bard.png');
    background-size: 50vh;
}

.cleric-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/cleric.png');
    background-size: 70vh;
}

.druid-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/druid.png');
    background-size: 60vh;
}

.fighter-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/fighter.png');
    background-size: 80vh;
}

.monk-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/monk.png');
    background-size: 70vh;
}

.paladin-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/paladin.png');
    background-size: 70vh;
}

.ranger-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/ranger.png');
    background-position: right center;
    background-size: 70vh;
}

.rogue-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/rogue.png');
    background-size: 70vh;
}

.sorcerer-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/sorcerer.png');
    background-size: 60vh;
    background-position: bottom right;
}


.warlock-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/warlock.png');
    background-size: 100vh;
}

.wizard-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),
    url('../../assets/wizard.png');
    background-size: 70vh;
}


@media (min-width: 768px) {
    .halfling-background {
        background-size: 100vh;
        background-position: center bottom;
    }

    .rogue-background {
        background-size: 100vh;
    }

    .sorcerer-background {
        background-size: 70vh;
    }
}